export(enrichPathway)
export(geneID2Name)
export(pathID2Name)
exportClasses(enrichPathwayResult)
exportMethods(plot)
exportMethods(summary)
importClassesFrom(methods,data.frame)
importFrom(igraph0,"E<-")
importFrom(igraph0,"V<-")
importFrom(igraph0,E)
importFrom(igraph0,V)
importFrom(igraph0,degree)
importFrom(igraph0,graph.data.frame)
importFrom(igraph0,layout.fruchterman.reingold)
importFrom(igraph0,plot.igraph)
importFrom(igraph0,tkplot)
importFrom(methods,new)
importFrom(methods,show)
importFrom(org.Hs.eg.db,org.Hs.egSYMBOL)
importFrom(plyr,.)
importFrom(plyr,dlply)
importFrom(qvalue,qvalue)
importFrom(reactome.db,reactomeEXTID2PATHID)
importFrom(reactome.db,reactomePATHID2EXTID)
importFrom(reactome.db,reactomePATHID2NAME)
importFrom(stats4,plot)
importFrom(stats4,summary)
importMethodsFrom(AnnotationDbi,mappedkeys)
importMethodsFrom(AnnotationDbi,mget)
